html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #E5E5E5;
}
button {
  overflow: none;
  cursor: pointer;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #C4C4C4 #fff;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 20px;
  border: 3px solid #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





.user-wrapper {
  padding: 30px;
  min-height: 980px;
  background-color: rgb(211, 211, 211);
}
.user-box{
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  height: 500px;
  width: 370px;
  background-color: white;
  margin: 0 auto;
  padding: 50px;
  /* text-align: center; */
  margin-top: 140px;
  border-radius: 20px;
}

.error-div{
  color: red;
  width: 260px;
}
.error-div small{
 
  width: 100px !important;
}


.main-wrapper {
  padding: 30px;
  min-height: 980px;
}

.main-wrapper {
  display: flex;
}
.sidenavbar {
  width: 20%;
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}



.logonav {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.logo img,
.menu img {
  width: 50%;
}
.menu {
  text-align: right;
}



.sidelink {
  padding: 30px 0;
}
.sidelink ul {
  padding: 0;
  margin: 0;
}
.sidelink li {
  list-style-type: none;
}
.sidelink button {
  padding: 7px 15px;
  margin: 7px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  color: #636363;
  background-color: transparent;
  text-align: left;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 5px solid transparent;
  transition: 0.5s;
  outline: none;
}
.sidelink button:focus {
  outline: none;
}
.sidelink button:hover {
  color: #E47359;
  border-left: 5px solid #E47359;
  transition: 0.5s;
}
.sub-menu li button{
  border-left: none !important;
  outline: none;
  margin: 0;
  padding: 4px 0 4px 15px;

}



.main-content {
  width: 78%;
  padding: 30px 0;
} 
.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-heading {
  width: 25%;
}
.page-heading h3 {
  color: #636363;
  font-weight: 600;
  font-size: 22px;
}
.main-navbar-link {
  margin: 0 15px 0 20px;
}
.main-navbar-link ul {
  padding: 0;
  margin: 0;
}
.main-navbar-link li {
  display: inline-block;
  list-style-type: none;
  padding: 0 7px;
}
.navbar-social ul {
  margin: 0;
  padding: 0;
}

.main-navbar-link a {
  text-decoration: none;
  color: #7E7E7E;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 16px;
  border-radius: 20px;
  transition: 0.5s;
  display: inline-block;
}
.main-navbar-link a:hover {
  background-color: #E47359;
  color: #fff;
  transition: 0.5s;
}
.navbar-content {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.year-title {
  font-weight: 600;
  font-size: 14px;
}

.main-navbar-link,
.navbar-social,
.main-navbar-dropdown {
  display: flex;
  align-items: center;
}




/* Social Link */
.navbar-social li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
}
.navbar-social li:nth-of-type(3) {
  padding-right: 0;
}


/* Full Card */
.full-card {
  padding: 30px;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.flex {
  display: flex;
}
.flex-reset{
  display: flex;
  width: 100%;
}
.revenue-part {
  width: 25%;
  background-color: #fff;
}
.item-bg-1 {
  background-color: #D9FFFA;
}
.item-bg-2 {
  background: rgba(236, 180, 36, 0.21);
}
.item-bg-3 {
  background: rgba(255, 172, 172, 0.35);
}
.item-bg-1,.item-bg-2,.item-bg-3 {
  border-radius: 6px;
  padding: 5px 15px;
  margin-right: 15px;
}
.item-bg-1 p,.item-bg-2 p,.item-bg-3 p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}
.item-bg-1 p {
  color: #387D68;
}
.item-bg-2 p {
  color: #ECB424;
}
.item-bg-3 p {
  color: #E47359;
}
.sub-title {
  color: #7E7E7E;
  font-size: 18px;
  margin: 0;
  position: relative;
  font-weight: 600;
}
.light-violet::before,
.bg-light-aqua::before {
  position: absolute;
  top: -3px;
  content: "";
  width: 25px;
  height: 3px;
}
.light-violet::before {
  background-color: #D272FF;
}
.bg-light-aqua::before {
  background-color: #3DD7C4;
}
.revenue-title {
  font-size: 46px;
  color: #464646;
  font-weight: 400;
  padding: 5px 0;
}
.revenue-title span {
  color: #b1a8a8;
}
.total-revenue {
  padding: 15px 0;
}





.graphs-part {
  width: 75%;
}
.big-cart {
  left: 15px;
  position: relative;
}


.nav-size{
  width: 100%;
}


.second-half-card  {
  width: 35%;
  margin-right: 2%;
}
.third-half-card {
  width: 63%;
}
.record-cart {
  width: 48%;
  margin: 0 auto;
}

.record-subtitle {
  font-size: 18px;
  color: #7E7E7E;
  font-weight: 600;
  margin: 0;
}
.record-title {
  font-size: 80px;
  margin: 0;
  font-weight: 400;
}
.text-green {
  color: #387D68;
}
.text-brown {
  color: #E47359;
}
.record-btn {
  background-color: #636363;
  padding: 4px 25px;
  border-radius: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  outline: none;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
}
.record-btn:focus {
  outline: none;
}
.record-link a {
  font-weight: 500;
  text-decoration: none;
}
.record-link img {
  padding-left: 10px;
}
.record-link,.record-dropdown {
  width: 50%;
  margin-top: 60px;
}




.point-limit {
  width: 33%;
  margin-top: 30px;
}
.point-units p {
  font-size: 16px;
  font-weight: 600;
  color: #7E7E7E;
  margin: 0;
}
.point-units h3 {
  font-size: 26px;
  font-weight: 600;
  color: #464646;
  margin: 0;
}
.bg-light-cyan,
.bg-light-orange,
.bg-light-red {
  border-radius: 6px;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.bg-light-cyan {
  background-color: #D9FFFA;
}
.bg-light-orange {
  background-color: #FBEFD1;
}
.bg-light-red {
background-color:  #FFE2E2;
}
.arrow {
  position: relative;
  top: 3px;
  left: 7px;
}
.arrow-defult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.project-sale-section {
  margin-top: 20px;
}


.project-status ul {
  margin: 15px 0 0 0;
  padding: 0;
}
.project-status li {
  list-style-type: none;
  padding: 10px 0;
}
.project-status p {
  margin: 0;
  padding-left: 10px;
}
.project-rate {
  font-size: 16px;
  font-weight: 500;
}
.project-dollor {
  color: #464646;
}
.project-units {
  padding-left: 10px;
  color: #7E7E7E;
  font-weight: 500;
}
.blue-color,
.brown-color,
.green-color,
.orange-color {
  position: relative;
}
.blue-color {
  color: #366BB1;
}
.brown-color {
  color: #E47359;
}
.green-color {
  color: #387D68;
}
.orange-color {
  color: #ECB424;
}
.blue-color::after,
.brown-color::after,
.green-color::after,
.orange-color::after {
  content: "";
  height: 3px;
  width: 10px;
  position: absolute;
  right: 100%;
  top: 11px;
}
.blue-color::after {
  background-color: #366BB1;
}
.brown-color::after {
  background-color: #E47359;
}
.green-color::after {
  background-color: #387D68;
}
.orange-color::after {
  background-color: #ECB424;
}



.point-units p {
  padding: 15px 0;
}
.project-vaule ul {
  margin: 0;
  padding: 0;
}
.project-vaule li {
  list-style-type: none;
  padding: 5px 0;
}
.project-cart {
  width: 40%;
}
.space-between {
  justify-content: space-between;
}











.dropdown-items {
  position: relative;
}
.dropdown-btn1 {
  width: 215px;
  text-align: left;
  background: #EDEEEF;
  border-radius: 38px;
  border: none;
  height: 38px;
  padding: 0 15px;
  font-weight: 500;
  position: relative;
  outline: none;
  color: #7E7E7E;
  font-size: 15px;
}
.dropdown-btn1:focus {
  outline: none;
}
.dropdown-btn1::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: transparent;
  position: absolute;
  border-bottom: 2px solid #7E7E7E;
  border-left: 2px solid #7E7E7E;
  left: 90%;
  top: 14px;
  transform: rotate(-41deg);

}
.dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 38px;
  background-color: #fff;
  margin: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 0 15px 0;
  border-radius: 5px;
  z-index: 99;
  display: none;
}
.dropdown-list li {
  list-style-type: none;
}
.dropdown-list a {
  display: inline-block;
  width: 100%;
  color: #949BA1;
  padding: 7px 15px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}
.dropdown-list a:hover {
  color: #000;
  transition: 0.5s;
}
.dropdown-items:hover .dropdown-list {
  display: block;
}


/* Next page 2 */
.cart-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.cart-half-col {
  width: 49%;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 15px;
}
.cart-card {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 15px;
  margin: 40px 0;
}
.cart-heading h3 {
  font-size: 17px;
  color: #7E7E7E;
}
.cart-navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.cart-image {
  padding: 30px 0;
}
.cart-image img {
  width: 100%;
}
.space-between {
  justify-content: space-between;
  position: relative;
}
.review-unit-btn {
  margin: 30px 0;
}
.review-unit-btn button {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 30px;
  outline: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #CBCBCB;
  
}
.review-unit-btn button::after {
  content: "";
  background-color: #CBCBCB;
  height: 1px;
  width: 50%;
  position: absolute;
  left: 21%;
  top: 48px;
}
.search-icon-img {
  position: absolute;
  right: 0;
  top: 10px;
}




/* Page 3 */
.arrow-move {
  margin-left: 4px;
  cursor: pointer;
  vertical-align: text-bottom;
}
.cart-dumy-img img {
  width: 100%;
}
.full-w {
  width: 100%;
}
.w-10 {
  width: 10%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.t-left {
  text-align: left;
}
.weight-sami {
  font-weight: 600;
}

.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.search-margin {
  margin-right: 15px;
}
.products-table {
  padding: 30px 0;
}
.products-table-list thead {
  border-bottom: 1px solid #F3F3F3;
}
.products-table-list th {
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}
.products-table-list tbody tr {
  border-bottom: 1px solid  #F3F3F3;
  padding: 5px 0;
}
.products-table-list td {
  color: #7E7E7E;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 0;
}
.cart-row-3 {
  display: flex;
  justify-content: space-between;
}


/* MODAL STYLE HERE */
.b-modal {
  background-color: #fff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 25px;
}
.b-small-modal {
  width: 550px;
  margin: 0 auto;
}
.b-big-modal {
  width: 1131px;
  margin: 0 auto;
}
.b-modal-header {
  text-align: right;
}
.b-modal-icon img {
  cursor: pointer;
}
.b-small-w {
  width: 310px;
  margin: 0 auto;
  padding: 50px 0;
}
.b-modal-body {
  text-align: center;
}
.b-modal-item h3 {
  font-size: 16px;
  color: #7E7E7E;
  font-weight: 700;
}
.b-modal-item span {
  font-weight: 400;
}
.b-modal-tageline p {
  font-size: 21px;
  color: #464646;
  text-align: center;
  line-height: normal;
  padding-bottom: 20px;
  font-weight: 600;
}
.b-modal-btn button {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
.b-modal-tabel-wrap {
  margin-top: 30px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.b-item-details {
  margin: 3px 0;
  color: #7E7E7E;
  font-size: 13px;
}
.items-pix img {
  max-width: 100%;
}
.b-modal-tabel thead th {
  border-bottom: 1px solid #F3F3F3;
  padding-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
  color:#464646;
  text-transform: uppercase;
}
.b-modal-tabel tbody tr {
  border-bottom: 1px solid #F3F3F3;
}
.b-modal-tabel tbody td {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color:#7E7E7E;
}
.b-modal-tabel tbody tr:last-child {
  border-bottom: none;
}
.b-modal-next-btn {
  padding: 20px 0 10px 0;
  text-align: right;
}
.b-modal-next-btn button {
  padding: 6px 40px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 30px;
}
.footer-products-btn button {
  width: 90px;
  display: inline-block;
  outline: none;
  border: none;
  margin-left: 15px;
  border-radius: 30px;
  padding: 5px 0;
}


/* Search */
.search-widget {
  position: relative;
}
.search-widget input {
  height: 35px;
  background-color: #EDEEEF;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
}
.search-icon-s {
  position: absolute;
  right: 15px;
  top: 12px;
}


/* Dropdown w */
.dropdown-widget {
  position: relative;
  
  text-align: left;
}
.dropdown-widget button {
  height: 35px;
  background-color: #EDEEEF;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
  text-align: left;
  position: relative;
}
.dropdown-w {
  width: 200px;
}
.dropdown-big-w {
  width: 262px;
}
.dropdown-widget button::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: transparent;
  position: absolute;
  border-bottom: 2px solid rgb(126, 126, 126);
  border-left: 2px solid rgb(126, 126, 126);
  left: 90%;
  top: 14px;
  transform: rotate(-41deg);
}
.dropdown-widget-list  {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
}
.dropdown-widget li {
  list-style-type: none;
}
.dropdown-widget:hover .dropdown-widget-list {
  display: block;
}
.big-modal-header {
  margin-top: 20px;
}





/* Custom Checkbox Style */
.checkbox-text {
  position: relative;
  left: 30px;
}
.b-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
}
.b-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.b-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.b-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Inventory-page */
.inventory-page {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  margin-top: 30px;
}
.inventory-page-header {
  padding: 0 30px;
}
.inventory-subtitle h3 {
  font-size: 16px;
  padding: 15px 0;
  color: #464646;
  font-weight: 600;
}
.inventory-value-text {
  font-weight: 600;
  font-size: 18px;
  color: #7E7E7E;
  margin: 0;
}
.inventory-value-heading {
  margin: 7px 0;
  font-size: 46px;
}
.inventory-t {
  color: #7E7E7E;
}
.inventory-table-title h3 {
  padding: 10px 30px;
  font-size: 15px;
  color: #464646;
}
.inventory-table-main thead tr th {
  padding: 10px 30px;
  color: #7E7E7E;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #D5D5D5;
}
.inventory-table-main tbody td {
  padding: 10px 30px;
  color: #7E7E7E;
  font-size: 14px;
  border-bottom: 1px solid #F3F3F3;
}
.inventory-table-main tbody tr {
  cursor: pointer;
}
.inventory-table-main tbody tr:hover {
  background-color: #EEEEEE;
}
.table-edit-btn button {
  padding: 5px 25px;
  border: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 600;
  outline: none;
  visibility: hidden;
}
.inventory-table-main tbody tr:hover .table-edit-btn button {
  visibility: visible;
}
.sort-arrow-table {
  cursor: pointer;
}
.sort-arrow-table img {
  margin: 0 7px;
}


/* Plan Profile page */
.pricing-promotion-form {
  padding: 40px 0;
}
.form-label label {
  color: #464646;
  font-weight: 600;
  font-size: 13px;
}
.form-label {

  padding-bottom: 8px;
}
.col-3-form {
  width: 25%;
  margin-right: 15px;
}
.f-input input,
.f-input button {
  height: 35px;
  background-color: #EDEEEF;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
  text-align: left;
  position: relative;
  width: 262px;
}
.f-input button {
  background-color: #E47359;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.f-input button {
  text-align: center;
}
.calendar-row {
  margin: 30px 0;
}
.calendar-month-box {
  width: 7%;
  padding: 15px 8px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 13px;
  font-weight: 600;
  color: #464646;
}
.calendar-month-box p {
  border-bottom: 1px solid #CBCBCB;
  margin: 0;
  padding-bottom: 8px;
}
.calendar-month-box span {
  display: inline-block;
  padding-top: 8px;
}
.m-tb-input {
  margin: 0 0 15px 0;
}


/* pricing-promotions start */
.pricing-promotions-cart-1 img {
  max-width: 100%;
}
.pricing-table-main thead th {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid  #D5D5D5;
  padding-bottom: 5px;
}
.pricing-table-main thead th:nth-of-type(3) {
  color: #E47359;
  font-size: 13px;
}
.pricing-table-main tbody td {
  border-bottom: 1px solid  #D5D5D5;
  color: #7E7E7E;
  font-size: 13px;
  font-weight: 700;
  padding: 8px 0;
}
.pricing-table-main thead th:nth-of-type(3) {
  color: #E47359;
  font-size: 13px;
}
.discount-list {
  margin: 0;
  padding: 0 0 4px 0;
}
.discount-list li {
  list-style-type: none;
  padding: 4px 15px;
  cursor: pointer;
}
.discount-active {
  background-color: #E47359;
  color: #fff;
  border-radius: 25px;
}
.t-price-list {
  margin: 0;
  padding: 0;
}
.t-price-list li {
  list-style-type: none;
}
.new-price {
  margin: 0;
  padding: 0;
  border-left: 3px solid #387D68;
}
.new-price li {
  list-style-type: none;
  color: #387D68;
  padding-left: 6px;
}
.switch-section {
   margin-top: 50px;
   justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 15px;
}
.switch-text p {
  margin: 0;
  font-weight: 600;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-move {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid#FB9077;
}
.switch-move:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #FB9077;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input:checked + .switch-move {
  background-color: #fff;
}
.switch input:focus + .switch-move {
  box-shadow: 0 0 1px #fff;
}
.switch input:checked + .switch-move:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.switch-move.round {
  border-radius: 34px;
}
.switch-move.round:before {
  border-radius: 50%;
}


/* Drapgrop page */
.dots-menu {
  position: relative;
}
.mx-4 {
  margin: 0 10px;
}
.flex-end {
  justify-content: flex-end;
}
.dots-menu button {
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: 20px;
  padding-left: 15px;
}
.dots-menu button:focus {
  outline: none;
}
.dots-menu-list {
  margin: 0;
  padding: 7px 0;
  position: absolute;
  width: 140px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  right: 0;
  top: 42px;
  display: none;
}
.dots-menu-list li {
  list-style-type: none;
}
.dots-menu-list a {
  display: inline-block;
  width: 100%;
  padding: 7px 10px;
  color: #949BA1;
  font-size: 13px;
  text-decoration: none;
}
.dots-menu-list img {
  margin-right: 7px;
}
.dots-menu:hover .dots-menu-list {
  display: block;
}
.drop-category-heading {
  padding-left: 15px;
}
.drop-category-heading h3 {
  font-size: 16px;
}
.drop-category-heading h3 img {
  margin-left: 7px;
}
.drop-card-wrap {
  padding-left: 20px;
}
.sheet-name-heading {
  padding-left: 15px;
}
.sheet-name-heading h3 {
  font-size: 16px;
  color: #7E7E7E;
}
.sheet-list-title ul {
  margin: 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.sheet-list-title li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px 10px 20px;
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.sheet-list-title li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  border-bottom: 3px solid #E47359;
}
.dragdrop-table-wrap {
  padding: 20px 0;
}
.dragdrop-table thead th {
  font-size: 12px;
  color: #464646;
  padding: 10px;
}
.bg-c-card {
  background-color: #EEEEEE;
}
.bg-bordr-card {
  border: 1px solid #D4D4D4;
  height: 155px;
}
.tabel-card {
  border-radius: 6px;
  text-align: center;
  color: #7E7E7E;
  padding: 10px 0;
  margin: 0 3px 10px 3px;
}
.tabel-card h4  {
  font-size: 13px;
  margin: 0;
}
.tabel-card p  {
  font-size: 12px;
  margin: 0;
  padding: 4px 0;
}
.table-color-picker ul {
  margin: 30px 0 0 0;
  padding: 0;
}
.b-box-nava,
.b-box-brown,
.b-box-pink {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.bg-c-nava {
  background-color: #D9FFFA;
}
.text-c-nava {
  color: #387D68 !important;
}
.bg-c-brown {
  background-color: #FBEFD1;
}
.text-c-brown {
  color: #ECB424 !important;
}
.bg-c-pink {
  background-color: #FFE2E2;
}
.text-c-pink {
  color: #E47359 !important;
}

.table-color-picker li {
  display: inline;
  padding: 0 20px 0 0;
}
.total-sheet-wrap ul {
  padding: 10px 0 10px 0;
  margin: 20px 0;
  background-color: #EEEEEE;
}
.total-sheet-wrap li {
  list-style-type: none;
  padding: 0 15px;
  font-weight: 600;
  color: #7E7E7E;
}
.sheet-colors-heading h3 {
  font-size: 16px;
}




@media (min-width:  1280px) and (max-width: 1566px) {
  .navbar-social li svg {
    width: 15px;
  }
  .page-heading {
    width: 20%;
  }
  .navbar-content {
    width: 80%;
  }
  .main-navbar-link a {
    font-size: 12px;
    padding: 3px 8px;
  }
  .page-heading h3 {
    font-size: 15px;
    font-weight: 700;
  }
  .navbar-social li {
    padding: 0 10px;
  }
  .item-bg-1 p, .item-bg-2 p, .item-bg-3 p {
    font-size: 15px;
  }
  .revenue-part {
    width: 35%;
  }
  .revenue-title {
    font-size: 37px;
  }
  .record-btn {
    padding: 1px 12px;
    font-size: 12px;
    margin-top: 11px;
  }
  .project-cart img {
    max-width: 100%;
  }
  .point-units h3 {
    font-size: 18px;
  }
  .point-units p {
    padding: 7px 0;
    font-size: 14px;
  }
  .record-title {
    font-size: 55px;
  }
  .record-subtitle {
    font-size: 15px;
  }
  .dropdown-btn1 {
    width: 140px;
    height: 29px;
  }
  .dropdown-list a {
    font-size: 12px;
  }
  .dropdown-btn1::after {
    left: 86%;
    top: 10px;
  }
  .dropdown-list {
    top: 29px;
  }
  .sidelink a {
    padding: 1px 14px;
    margin: 7px 0;
  }
  .dropdown-btn1{
    width: 205px;
  }
  /* .flex-reset{
    display:block;
  } */
  .flex-reset{
    display:block;
  }
  .point-limit{
    width: 100%;
    margin-top: 25px;
  }
  .record-link{
    width: 100%;
    margin-top: 33px;
  }
  .record-dropdown {
    width: 50%;
    margin-top: 33px;
}
}
.review-unit-btn button::before {
  content: "";
  background-color: #CBCBCB;
  height: 1px;
  width: 50%;
  position: absolute;
  right: 20%;
  top: 48px;
}
.review-unit-btn span {
  color: #7E7E7E;
  font-weight: 500;
}
.colr-text-list ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.colr-text-list li {
  list-style-type: none;
  padding: 0 20px;
  display: inline-block;
}
.colr-text-dots {
  font-weight: 500;
}
.inventory-tabel-main {
  width: 100%;
}
.inventory-tabel-main thead {
  border-bottom: 1px solid #D5D5D5;
}
.inventory-tabel-main tr th {
  font-weight: 500;
  color: #464646;
  padding-bottom: 7px;
  font-size: 13px;
}
.inventory-tabel-main tbody tr {
  border-bottom: 1px solid #F3F3F3;;
  
  font-weight: 500;
  color: #7E7E7E;
}
.inventory-tabel-main tbody tr td {
  padding: 5px 0;
  font-size: 13px;
}
.inventory-tabel-main tbody tr:last-child {
  border-bottom: none;
}
.see-all-btn {
  margin-top: 15px;
  text-align: right;
}
.see-all-btn button {
  display: inline-block;
  padding: 4px 20px;
  border: none;
  border-radius: 30px;
  background-color: #E47359;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.info-img {
  padding-left: 10px;
}
.sales-analysis-section {
  padding: 40px 0;
  align-items: center;
}
.analysis-cart-img img {
  max-width: 100%;
}
.analysis-details ul {
  margin: 0;
  padding: 0;
}
.analysis-details li {
  display: inline-block;
  padding: 0 15px;
  list-style-type: none;
}


.b-widget1-bullet {
  width: 15px;
  height: 3px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.b-widget1-text-sub {
  margin-right: 10px;
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
}
.analysis-tow-section {
  padding: 40px 0;
  border-bottom: 1px solid #E6E6E6;
}
.analysis-unit-sec {
  margin-top: 20px;
}
.align-center {
  align-items: center;
}
.line-table {
  width: 15px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.bg-c-danger {
  background-color: #E47359; 
}
.bg-c-primary {
  background-color: #366BB1; 
}
.bg-c-info {
  background-color: #ECB424;
}
.bg-c-7-gray {
  background-color:#EDEEEF;;
}
.bg-c-solid-accent {
 background-color:  #42AFB6;
}
.c-danger {
  color:  #E47359;
}
.c-primary {
  color: #366BB1;
}
.c-info {
  color: #ECB424;
}
.c-solid-accent {
  color: #42AFB6;
}
.c-light-black {
  color: #464646;
}
.bg-c-7-black {
  background-color: #ACACAC;
}
.bg-c-light-black {
  background-color: #464646;
}
.content-end {
  justify-content: flex-end;
}
.bg-light-gray {
 background-color: #C4C4C4;
}
.c-white {
  color: #fff;
}
.bg-c-white {
  background-color: #fff;
}








/* page 2 end section */
.col-49 {
  width: 49%;
}
.report-table-heading {
  padding: 25px 0 20px 0;
}
.report-table-heading h3 {
  font-size: 16px;
  color: #464646;
}
.w-32 {
  width: 32%;
}

/* SEARCH BAR */
.search-part {
  position: relative;
}
.search-part input {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #E6E6E6;
  height: 35px;
  outline: none;
  padding: 0 15px;
  font-style: italic;
  color: #979797;
  font-size: 14px;
}

.search-icon-img {
  position: absolute;
  right: 0;
  top: 10px;
}




/* Page 3 */
.arrow-move {
  margin-left: 4px;
  cursor: pointer;
  vertical-align: text-bottom;
}
.cart-dumy-img img {
  width: 100%;
}
.full-w {
  width: 100%;
}
.w-10 {
  width: 10%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.t-left {
  text-align: left;
}
.weight-sami {
  font-weight: 600;
}

.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.search-margin {
  margin-right: 15px;
}
.products-table {
  padding: 30px 0;
}
.products-table-list thead {
  border-bottom: 1px solid #F3F3F3;
}
.products-table-list th {
  color: #464646;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
}
.products-table-list tbody tr {
  border-bottom: 1px solid  #F3F3F3;
  padding: 5px 0;
}
.products-table-list td {
  color: #7E7E7E;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 0;
}
.cart-row-3 {
  display: flex;
  justify-content: space-between;
}


/* MODAL STYLE HERE */
.b-modal {
  background-color: #fff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 25px;
}
.b-small-modal {
  width: 550px;
  margin: 0 auto;
}
.b-big-modal {
  width: 1131px;
  margin: 0 auto;
}
.b-modal-header {
  text-align: right;
}
.b-modal-icon img {
  cursor: pointer;
}
.b-small-w {
  width: 310px;
  margin: 0 auto;
  padding: 50px 0;
}
.b-modal-body {
  text-align: center;
}
.b-modal-item h3 {
  font-size: 16px;
  color: #7E7E7E;
  font-weight: 700;
}
.b-modal-item span {
  font-weight: 400;
}
.b-modal-tageline p {
  font-size: 21px;
  color: #464646;
  text-align: center;
  line-height: normal;
  padding-bottom: 20px;
  font-weight: 600;
}
.b-modal-btn button {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
.b-modal-tabel-wrap {
  margin-top: 30px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.b-item-details {
  margin: 3px 0;
  color: #7E7E7E;
  font-size: 13px;
}
.items-pix img {
  max-width: 100%;
}
.b-modal-tabel thead th {
  border-bottom: 1px solid #F3F3F3;
  padding-bottom: 5px;
  font-size: 11px;
  font-weight: 600;
  color:#464646;
  text-transform: uppercase;
}
.b-modal-tabel tbody tr {
  border-bottom: 1px solid #F3F3F3;
}
.b-modal-tabel tbody td {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color:#7E7E7E;
}
.b-modal-tabel tbody tr:last-child {
  border-bottom: none;
}
.b-modal-next-btn {
  padding: 20px 0 10px 0;
  text-align: right;
}
.b-modal-next-btn button {
  padding: 6px 40px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 30px;
}
.footer-products-btn button {
  width: 90px;
  display: inline-block;
  outline: none;
  border: none;
  margin-left: 15px;
  border-radius: 30px;
  padding: 5px 0;
}


/* Search */
.search-widget {
  position: relative;
}
.search-widget input {
  height: 35px;
  background-color: #EDEEEF;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
}
.search-icon-s {
  position: absolute;
  right: 15px;
  top: 12px;
}


/* Dropdown w */
.dropdown-widget {
  position: relative;
  
  text-align: left;
}
.dropdown-widget button {
  height: 35px;
  background-color: #EDEEEF;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
  text-align: left;
  position: relative;
}
.dropdown-w {
  width: 200px;
}
.dropdown-big-w {
  width: 262px;
}
.dropdown-widget button::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: transparent;
  position: absolute;
  border-bottom: 2px solid rgb(126, 126, 126);
  border-left: 2px solid rgb(126, 126, 126);
  left: 90%;
  top: 14px;
  transform: rotate(-41deg);
}
.dropdown-widget-list  {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
}
.dropdown-widget li {
  list-style-type: none;
}
.dropdown-widget:hover .dropdown-widget-list {
  display: block;
}
.big-modal-header {
  margin-top: 20px;
}





/* Custom Checkbox Style */
.checkbox-text {
  position: relative;
  left: 30px;
}
.b-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
}
.b-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.b-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.b-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Inventory-page */
.inventory-page {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  margin-top: 30px;
}
.inventory-page-header {
  padding: 0 30px;
}
.inventory-subtitle h3 {
  font-size: 16px;
  padding: 15px 0;
  color: #464646;
  font-weight: 600;
}
.inventory-value-text {
  font-weight: 600;
  font-size: 18px;
  color: #7E7E7E;
  margin: 0;
}
.inventory-value-heading {
  margin: 7px 0;
  font-size: 46px;
}
.inventory-t {
  color: #7E7E7E;
}
.inventory-table-title h3 {
  padding: 10px 30px;
  font-size: 15px;
  color: #464646;
}
.inventory-table-main thead tr th {
  padding: 10px 30px;
  color: #7E7E7E;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #D5D5D5;
}
.inventory-table-main tbody td {
  padding: 10px 30px;
  color: #7E7E7E;
  font-size: 14px;
  border-bottom: 1px solid #F3F3F3;
}
.inventory-table-main tbody tr {
  cursor: pointer;
}
.inventory-table-main tbody tr:hover {
  background-color: #EEEEEE;
}
.table-edit-btn button {
  padding: 5px 25px;
  border: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 600;
  outline: none;
  visibility: hidden;
}
.inventory-table-main tbody tr:hover .table-edit-btn button {
  visibility: visible;
}
.sort-arrow-table {
  cursor: pointer;
}
.sort-arrow-table img {
  margin: 0 7px;
}


/* Plan Profile page */
.pricing-promotion-form {
  padding: 40px 0;
}
.form-label label {
  color: #464646;
  font-weight: 600;
  font-size: 13px;
}
.col-3-form {
  width: 25%;
  margin-right: 15px;
}
.f-input input,
.f-input button {
  height: 35px;
  background-color: #EDEEEF;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 0 25px 0 15px;
  text-align: left;
  position: relative;
  width: 262px;
}
.f-input button {
  background-color: #E47359;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.f-input button {
  text-align: center;
}
.calendar-row {
  margin: 30px 0;
}
.calendar-month-box {
  width: 7%;
  padding: 15px 8px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 13px;
  font-weight: 600;
  color: #464646;
}
.calendar-month-box p {
  border-bottom: 1px solid #CBCBCB;
  margin: 0;
  padding-bottom: 8px;
}
.calendar-month-box span {
  display: inline-block;
  padding-top: 8px;
}
.m-tb-input {
  margin: 0 0 15px 0;
}


/* pricing-promotions start */
.pricing-promotions-cart-1 img {
  max-width: 100%;
}
.pricing-table-main thead th {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid  #D5D5D5;
  padding-bottom: 5px;
}
.pricing-table-main thead th:nth-of-type(3) {
  color: #E47359;
  font-size: 13px;
}
.pricing-table-main tbody td {
  border-bottom: 1px solid  #D5D5D5;
  color: #7E7E7E;
  font-size: 13px;
  font-weight: 700;
  padding: 8px 0;
}
.pricing-table-main thead th:nth-of-type(3) {
  color: #E47359;
  font-size: 13px;
}
.discount-list {
  margin: 0;
  padding: 0 0 4px 0;
}
.discount-list li {
  list-style-type: none;
  padding: 4px 15px;
  cursor: pointer;
}
.discount-active {
  background-color: #E47359;
  color: #fff;
  border-radius: 25px;
}
.t-price-list {
  margin: 0;
  padding: 0;
}
.t-price-list li {
  list-style-type: none;
}
.new-price {
  margin: 0;
  padding: 0;
  border-left: 3px solid #387D68;
}
.new-price li {
  list-style-type: none;
  color: #387D68;
  padding-left: 6px;
}
.switch-section {
   margin-top: 50px;
   justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 15px;
}
.switch-text p {
  margin: 0;
  font-weight: 600;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-move {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid#FB9077;
}
.switch-move:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #FB9077;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input:checked + .switch-move {
  background-color: #fff;
}
.switch input:focus + .switch-move {
  box-shadow: 0 0 1px #fff;
}
.switch input:checked + .switch-move:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.switch-move.round {
  border-radius: 34px;
}
.switch-move.round:before {
  border-radius: 50%;
}


/* Drapgrop page */
.dots-menu {
  position: relative;
}
.mx-4 {
  margin: 0 10px;
}
.flex-end {
  justify-content: flex-end;
}
.dots-menu button {
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: 20px;
  padding-left: 15px;
}
.dots-menu button:focus {
  outline: none;
}
.dots-menu-list {
  margin: 0;
  padding: 7px 0;
  position: absolute;
  width: 140px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  right: 0;
  top: 42px;
  display: none;
}
.dots-menu-list li {
  list-style-type: none;
}
.dots-menu-list a {
  display: inline-block;
  width: 100%;
  padding: 7px 10px;
  color: #949BA1;
  font-size: 13px;
  text-decoration: none;
}
.dots-menu-list img {
  margin-right: 7px;
}
.dots-menu:hover .dots-menu-list {
  display: block;
}
.drop-category-heading {
  padding-left: 15px;
}
.drop-category-heading h3 {
  font-size: 16px;
}
.drop-category-heading h3 img {
  margin-left: 7px;
}
.drop-card-wrap {
  padding-left: 20px;
}
.sheet-name-heading {
  padding-left: 15px;
}
.sheet-name-heading h3 {
  font-size: 16px;
  color: #7E7E7E;
}
.sheet-list-title ul {
  margin: 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.sheet-list-title li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px 10px 20px;
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.sheet-list-title li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  border-bottom: 3px solid #E47359;
}
.dragdrop-table-wrap {
  padding: 20px 0;
}
.dragdrop-table thead th {
  font-size: 12px;
  color: #464646;
  padding: 10px;
}
.bg-c-card {
  background-color: #EEEEEE;
}
.bg-bordr-card {
  border: 1px solid #D4D4D4;
  height: 155px;
}
.tabel-card {
  border-radius: 6px;
  text-align: center;
  color: #7E7E7E;
  padding: 10px 0;
  margin: 0 3px 10px 3px;
}
.tabel-card h4  {
  font-size: 13px;
  margin: 0;
}
.tabel-card p  {
  font-size: 12px;
  margin: 0;
  padding: 4px 0;
}
.table-color-picker ul {
  margin: 30px 0 0 0;
  padding: 0;
}
.b-box-nava,
.b-box-brown,
.b-box-pink {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.bg-c-nava {
  background-color: #D9FFFA;
}
.text-c-nava {
  color: #387D68 !important;
}
.bg-c-brown {
  background-color: #FBEFD1;
}
.text-c-brown {
  color: #ECB424 !important;
}
.bg-c-pink {
  background-color: #FFE2E2;
}
.text-c-pink {
  color: #E47359 !important;
}

.table-color-picker li {
  display: inline;
  padding: 0 20px 0 0;
}
.total-sheet-wrap ul {
  padding: 10px 0 10px 0;
  margin: 20px 0;
  background-color: #EEEEEE;
}
.total-sheet-wrap li {
  list-style-type: none;
  padding: 0 15px;
  font-weight: 600;
  color: #7E7E7E;
}
.sheet-colors-heading h3 {
  font-size: 16px;
}




@media (min-width:  1280px) and (max-width: 1566px) {
  .navbar-social li svg {
    width: 15px;
  }
  .page-heading {
    width: 20%;
  }
  .navbar-content {
    width: 80%;
  }
  .main-navbar-link a {
    font-size: 12px;
    padding: 3px 8px;
  }
  .page-heading h3 {
    font-size: 15px;
    font-weight: 700;
  }
  .navbar-social li {
    padding: 0 10px;
  }
  .item-bg-1 p, .item-bg-2 p, .item-bg-3 p {
    font-size: 15px;
  }
  .revenue-part {
    width: 35%;
  }
  .revenue-title {
    font-size: 37px;
  }
  .record-btn {
    padding: 1px 12px;
    font-size: 12px;
    margin-top: 11px;
  }
  .project-cart img {
    max-width: 100%;
  }
  .point-units h3 {
    font-size: 18px;
  }
  .point-units p {
    padding: 7px 0;
    font-size: 14px;
  }
  .record-title {
    font-size: 55px;
  }
  .record-subtitle {
    font-size: 15px;
  }
  .dropdown-btn1 {
    width: 140px;
    height: 29px;
  }
  .dropdown-list a {
    font-size: 12px;
  }
  .dropdown-btn1::after {
    left: 86%;
    top: 10px;
  }
  .dropdown-list {
    top: 29px;
  }
  .sidelink a {
    padding: 1px 14px;
    margin: 7px 0;
  }
  .dropdown-btn1{
    width: 205px;
  }
  /* .flex-reset{
    display:block;
  } */
  .flex-reset{
    display:block;
  }
  .point-limit{
    width: 100%;
    margin-top: 25px;
  }
  .record-link{
    width: 100%;
    margin-top: 33px;
  }
  .record-dropdown {
    width: 50%;
    margin-top: 33px;
}
}
@media (min-width:  1024px) and (max-width: 1279px) {

  .main-wrapper {
    padding: 17px;
  }
  .main-navbar {
    flex-wrap: wrap;
  }
  .page-heading {
    width: 100%;
  }
  .navbar-content {
    width: 100%;
  }
  .dropdown-btn1 {
    width: 150px;
  }
  .navbar-social li svg {
    width: 15px;
  }
  .logo img, .menu img {
    width: 80%;
  }
  .sidelink a {
    font-size: 15px;
    padding: 0px 15px;
  }
  .item-bg-1,.item-bg-2,.item-bg-3 {
    padding: 5px 8px;
    margin-right: 7px;
  }
  .revenue-title{
    font-size: 32px;
  }
  .year-title{
    font-size: 12px;
  }
  .dropdown-btn1{
    width: 205px;
  }
  .big-cart {
    left: 23px;
  }
  .record-subtitle {
    font-size: 11px;
  }
  .record-title{
    font-size: 60px;
  }
  .record-btn{
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
  }
  .flex-reset{
    display:block;
  }
  .point-limit{
    width: 100%;
    margin-top: 0px;
  }
  .record-link{
    width: 50%;
    margin-top: 33px;
  }
  .record-dropdown {
    width: 50%;
    margin-top: 33px;
  
  }
  .point-units p {
    font-size: 13px;
  }
  
}